.customer_info label{cursor:pointer}
.customer_info label,.customer_info input,
.customer_info button{display:block;width:100%}
.customer_info .payment_method>label,
.customer_info .payment_method>label>input,
.customer_info .payment_method>button{display:inline;font-weight:400;width:auto}
#btn-mua-ngay{width:100%}.hidden{display:none;visibility:hidden}
.customer_info .error{display:block;width:100%}
.customer_info label.error{color:red;display:block;margin-top:-10px}
.customer_info input.error,textarea.error{border:1px dashed red;font-weight:300;color:red}
.fundiin-promotion__panel{display:none;width:100%!important;max-width:100%!important}
.fundiin.discount{color:#0155cf}
.fundiin.discount img{position:relative;max-width:19px;height:22px;top:-3px;margin-right:7px}
.fundiin.discount a{display:inline-block;position:relative;margin-left:5px;width:20px;height:15px}
.fundiin.discount svg{position:absolute;width:20px;height:30px;top:-5px;left:0}
.featured-products-of-the-brand .badge-container{display:none}
.featured-products-of-the-brand>.col-left>.col-inner{padding:25px 30px 25px 37%;background:#ebf9ff}
.featured-products-of-the-brand .row>.col{padding-bottom:5px}
.featured-products-of-the-brand .box-image{position:absolute;left:25px;width:29%;top:15px;bottom:auto;border-radius:5px}
.featured-products-of-the-brand .product-small{position:static;padding-bottom:5px}
.featured-products-of-the-brand .col-inner .col-inner{position:static}
.featured-products-of-the-brand .product-small .box-text{text-align:left;padding:0;padding-bottom:10px;border-bottom:1px #ced3d7 dashed}
.featured-products-of-the-brand .title-wrapper{font-size:20px;font-weight:600;margin-bottom:7px}
.featured-products-of-the-brand .price-wrapper{font-size:18px}
.featured-products-of-the-brand .box-text-bottom h4{color:#009aff;font-size:16px}
.featured-products-of-the-brand .box-text-bottom h4 i{margin-left:5px;top:2px;margin-bottom:5px}
.featured-products-of-the-brand .box-text-bottom p{margin-bottom:3px;font-size:14px}
.featured-products-of-the-brand .star-rating span:before{color:#f96e29}
.featured-products-of-the-brand span.amount{color:#b70000}
.featured-products-of-the-brand .breadcrumbs p{margin-bottom:5px}
.featured-products-of-the-brand .breadcrumbs a{color:#429afc;font-size:14px}
.featured-products-of-the-brand .breadcrumbs p a:nth-of-type(1){background:url('img/logo.jpg') no-repeat;background-size:100%}
.featured-products-of-the-brand .breadcrumbs a:hover{color:#6db2ff}.featured-products-of-the-brand .text-top{position:absolute;top:0;right:0;font-size:13px;padding:10px 10px 10px 15px;background:#fff1b8;color:red;border-radius:0 0 25px 35px;font-weight:700}
.featured-products-of-the-brand .col-right .sp{display:none}
.featured-products-of-the-brand .read_more{position:absolute;bottom:20px;right:15px}
.featured-products-of-the-brand .read_more a{display:flex;align-items:center;justify-content:center;font-size:14px;line-height:1;border:1px #37a0f1 solid;width:165px;padding:7px;border-radius:20px;color:#005acf;font-weight:600}
.featured-products-of-the-brand .read_more span{margin-left:7px}
.featured-products-of-the-brand .read_more img{width:16px;height:16px}
.featured-products-of-the-brand .read_more+div>p{margin-bottom:0}
.featured-products-of-the-brand.less .box-text-bottom{max-height:110px;overflow:hidden;position:relative}
.featured-products-of-the-brand.less .box-text-bottom:after{position:absolute;content:'';bottom:0;left:0;width:100%;height:50px;background:linear-gradient(180deg,rgb(235 249 255/50%) 0%,rgb(235 249 255) 100%);z-index:1}
.featured-products-of-the-brand .more-parm{display:none;margin:0;font-size:12px;color:#02277c;position:relative;padding:0 13px 0 0;margin-top:5px}
.featured-products-of-the-brand.open .more-parm{display:block}
.featured-products-of-the-brand .more-parm:after{position:absolute;content:'';border-right:1px #02277c solid;border-bottom:1px #02277c solid;width:5px;height:5px;transform:rotate(45deg);right:0;top:10px;transition:.5s all}
.featured-products-of-the-brand .more-parm.less-parm:after{transform:rotate(-135deg);top:12px}
.featured-products-of-the-brand .product-title a{color:#000!important}
@media only screen and (min-width:550px){.featured-products-of-the-brand>.col-left>.col-inner{min-height:37vw}}
@media only screen and (min-width:960px){.featured-products-of-the-brand>.col-left>.col-inner{min-height:300px}}
@media only screen and (max-width:549px){.featured-products-of-the-brand>.col-left>.col-inner{padding:20px 15px;background:0 0;border:1px #ffd69a solid}
.featured-products-of-the-brand.less .box-text-bottom:after{background:linear-gradient(180deg,rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 100%)}
.featured-products-of-the-brand .breadcrumbs{margin-bottom:20px}
.featured-products-of-the-brand .product-small .box-image{position:relative;width:100%;margin-bottom:30px;padding:0 8%;left:auto;top:auto}
.featured-products-of-the-brand .col-right .pc{display:none}
.featured-products-of-the-brand .col-right .sp{display:block}
.featured-products-of-the-brand .banner-left{margin-top:20px}
.featured-products-of-the-brand .text-top{font-size:10px;padding:7px 10px 8px 15px;border-radius:0 0 30px 34px}
.featured-products-of-the-brand .read_more{position:static;margin-top:15px}
.featured-products-of-the-brand .read_more a{font-size:12px;width:145px}
.featured-products-of-the-brand .read_more img{width:14px;height:14px}}